* {
    font-family: "Open Sans";
}

QWidget#header {
    background: #202225;
}

QMainWindow, QWidget#content {
    background: #36393f;
}

QScrollArea#photoGalleryContainer QWidget#content
{
    background: url("./res/styles/themes/dark/img/93df7d99.png");
    /*
    background: url("./res/styles/themes/dark/img/06ca4cb3.png");
    background: url("./res/styles/themes/dark/img/cebce514.png");
    */
}

QLabel, QLineEdit, QComboBox
{
    color: white;
}

QLabel[objectName*="FieldLabel"]
{
    color: #72767d;
}

QLineEdit, QComboBox, QListView, QPushButton#okButton, QPushButton#cancelButton
{
    background: #2f3136;
    color: #b9bbbe;
    border-radius: 10px;
}

QListView
{
    margin-top: 8px;
}

QComboBox
{
    border-radius: 5px;
}

QPushButton[objectName*="ActionButton"]:hover:!pressed
{
    background: #272A2E;
}

QPushButton[objectName*="ActionButton"]:hover:pressed
{
    background: #2E3136;
}

QPushButton#okButton, QPushButton#cancelButton
{
    background: #202225;
}

QWidget#imageInfoRootContainer, QWidget#imageInfoRootContainer *
{
    background: #2f3136;
}

QWidget[objectName*="EmphasisContainer"]
{
    background: #202225;
    border-radius: 16px;
}
