QMainWindow {
    background: green;
}

QWidget#header {
    background: red;
}

QLabel
{
    color: white;
    font-family: "Open Sans";
    font-size: 11pt;
}

QLabel[objectName*="FieldLabel"]
{
    color: #72767d;
}

QLabel[objectName*="SmallLabel"]
{
    font-size: 10pt;
}

QPushButton[objectName*="ActionButton"]
{
    background: transparent;
    border: none;
    qproperty-minimumSize: 62px 48px;
    qproperty-iconSize: 24px 24px;
}

QPushButton[objectName*="ActionButton"]:hover:!pressed
{
    background: #272A2E;
}

QPushButton[objectName*="ActionButton"]:hover:pressed
{
    background: #2E3136;
}

QScrollArea
{
    border: none;
}

QLabel#imageInfoTitleLabel
{
    font-size: 14pt;
    font-weight: bold;
}

QWidget#imageInfoRootContainer, QWidget#imageInfoRootContainer *
{
    background: #2f3136;
}
